<ion-content class="ion-padding">
	<div class="form-centre">
		<img src="assets/logo.png" alt="" class="logo">
		<form #LoginForm="ngForm">
			<ion-list>
	  
			  <ion-item>
				<ion-label position="floating">Email</ion-label>
				<ion-input type="email" [(ngModel)]="attemptingUser.email" required name="email"></ion-input>
			  </ion-item>
		  
			<ion-item>
			  <ion-label position="floating">Password</ion-label>
			  <ion-input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="attemptingUser.password" required name="password" clearOnEdit="false"></ion-input>
			  <ion-icon [name]="showPassword? 'eye' : 'eye-off'" (click)="showPassword = !showPassword" slot="end"></ion-icon>
			</ion-item>
		
			<ion-row style="margin-top:25px">
				<ion-col size="6">
					<!-- <ion-button [routerLink]="['/register']" size="large" expand="block" color="primary" fill="outline">Register</ion-button> -->
				</ion-col>
				<ion-col size="6">
					<ion-button size="large" expand="block" color="primary" (click)="login()" [disabled]="!LoginForm.form.valid">Login</ion-button>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col size="10" offset="5">
					<a [routerLink]="['/register']" >Are you new? Sign up</a>
					<!-- <ion-button  size="large" expand="block" color="primary" fill="outline">Register</ion-button> -->
				</ion-col>
			</ion-row>
		  </ion-list>
		</form>
	</div>
</ion-content>
